* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

html, body {
  background: #5d676c;
  font-family: "Open Sans", sans-serif;
  overflow: hidden;
  font-size: 0.75em;
  color: #202020;
  font-family: -apple-system,BlinkMacSystemFont,"Malgun Gothic","맑은 고딕",helvetica,"Apple SD Gothic Neo",sans-serif;
}

.MainHeader {
  background: #010101;
  height: 65px;
}

.ItemTitle_root-1DCrM {
  white-space: nowrap;
  display: flex;
  align-items: center;
  flex-shrink: 1;
  flex-grow: 1;
  min-width: 120px;
}

.ItemTitle_text-L5Z9D {
  width: 100%;
  overflow: hidden;
}


.ItemTitle_titleLink-3b80D {
  color: #fff;
  font-weight: 700;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
}









.Site {
  margin: 0 auto;
  max-width: 1600px;
  position: relative;
  z-index: 1;
  height: 100vh;
  overflow-y: scroll;
}

.Container {
  position: relative;
  margin-left: 240px;
  background: #fff;
  z-index: 2;
  box-shadow: 1px 0 25px rgba(0, 0, 0, 0.25);
  -webkit-transition: 0.35s;
  -moz-transition: 0.35s;
  transition: 0.35s;
}

.Navigation {
  width: 180px;
  position: fixed;
  top: 100px;
  bottom: 0;
  margin: 0;
  padding: 30px;
  overflow: auto;
}
.Navigation ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.Navigation li {
  margin: 0;
  padding: 0;
  -webkit-transition: 0.25s;
  -moz-transition: 0.25s;
  transition: 0.25s;
}
.Navigation a {
  color: #fff;
  text-decoration: none;
  font-size: 20px;
  font-weight: 800;
  display: block;
  padding: 10px 0;
}
.Navigation .nav-primary {
  opacity: 1;
}
.Navigation .nav-primary:hover {
  opacity: 0.7;
}
.Navigation .nav-secondary {
  opacity: 0.4;
}
.Navigation .nav-secondary:hover {
  opacity: 0.7;
}

.Menu {
  display: none;
  position: fixed;
  top: 25px;
  left: 1.5em;
  width: 24px;
  height: 24px;
  cursor: pointer;
  z-index: 10;
}
.Menu .Hamburger {
  position: relative;
  width: 24px;
  height: 4px;
  margin: 10px 0;
  background: #fff;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Menu .Hamburger:before,
.Menu .Hamburger:after {
  content: "";
  display: block;
  width: 24px;
  height: 4px;
  background: #fff;
  position: absolute;
  border-radius: 4px;
  transition: all 300ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.Menu .Hamburger:before {
  top: -8px;
  left: 0;
  width: 22px;
}
.Menu .Hamburger:after {
  top: 8px;
  width: 16px;
  left: 0;
}

.Menu:hover .Hamburger:before,
.Menu:hover .Hamburger:after {
  width: 24px;
}
.Menu.is-active .Hamburger {
  background: none;
}
.Menu.is-active .Hamburger:before,
.Menu.is-active .Hamburger:after {
  top: 0;
  width: 24px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.Menu.is-active .Hamburger:after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.Menu.is-active .Hamburger:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
}

.Contents {
  position: relative;
  left: 0;
  right: 0;
  min-height: 85vh;
  max-width: 1600px;
  padding: 0 2.2em;
}

.Contents h1 {
  margin: 0;
  padding: 0 0 10px;
  color: #fff;
  font-size: 32px;
}

.Contents p {
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 17px;
}



.Contents._a {
  background: #69D2E7;
}

.Contents._b {
  background: #F9D423;
}

.Contents._c {
  background: #F38630;
}

.band-d {
  background: #FF4E50;
}



@media screen and (max-width: 980px) {
  .Menu {
    display: block;
  }

  .Site.is-open {
    overflow: hidden;
  }
  .Site.is-open .Container {
    -webkit-transform: translateX(240px);
    -moz-transform: translateX(240px);
    -ms-transform: translateX(240px);
    -o-transform: translateX(240px);
    transform: translateX(240px);
  }

  .Container {
    margin-left: 0;
    z-index: 3;
  }

  .band-container {
    padding: 0 1.5em;
  }
}