# for Mac
**/.DS_Store

# JavaScript Project
**/node_modules
**/public/bundle.js
**/public/main.js
**/public/assets

# IDE directories and files
**/.idea
**/.iml
**/.classpath
**/.project
**/.settings
**/.vscode
**/.suo
**/.ntvs*
**/.njsproj
**/.sln
**/.sw?

**/target
**/build

# private resources
**/PrivateResources