.Card {
  display: flex;
  flex-direction: column;
  border-radius: 2px;
  border: 2px solid transparent;
  background-color: rgb(255, 255, 255);
  box-shadow: none;
  box-sizing: border-box;
  padding: 8px;
  min-height: 40px;
  margin-bottom: 8px;
  user-select: none;
  color: rgb(9, 30, 66);

  .Title {
    cursor: pointer;
    pointer-events: none;
    font: {
      weight: bold;
    }
    border: {
      bottom: solid 5px transparent;
    }
    &:before {
      display: inline-block;
      pointer-events: auto;
      width: 1em;
      content: '▸';
    }
  }

  .Title_Open {
    &:before {
      content: '▾';
    }
  }

  .Desc {
  }

  .Val {
    display: flex;
    flex-direction: row;
    margin-top: 8px;
    align-items: center;

    small {
      flex-grow: 1;
      flex-shrink: 1;
      font-weight: normal;
      margin-right: 10px;
    }

    small:nth-child(1) {
      color: rgba(9, 30, 66, 0.71);
      background-color: rgb(227, 252, 239);
      margin-right: 30px;
      border-radius: 2px;
      text-align:center;
      padding: 4px;
    }

    small:nth-child(2) {
      margin: 0px;
      text-overflow: ellipsis;
      text-align: right;
    }

    small:nth-child(3) {
      margin: 0px;
      text-overflow: ellipsis;
      text-align: right;
    }
  }
}

