.card_title {
  cursor: pointer;
  pointer-events: none;
  font: {
    weight: bold;
  }
  border: {
    bottom: solid 5px transparent;
  }

  &:before {
    display: inline-block;
    pointer-events: auto;
    width: 1em;
    content: '▸';
  }
}

.card_title_open {
  &:before {
    content: '▾';
  }
}

.card_desc {
}

.card_val {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  align-items: center;

  .no {
    color: rgba(9, 30, 66, 0.71);
    flex-grow: 0;
    margin: 0px;
    background-color: rgb(227, 252, 239);
    border-radius: 2px;
    font-weight: normal;
    padding: 4px;
  }

  .order_no {
    flex-grow: 1;
    flex-shrink: 1;
    margin: 0px;
    font-weight: normal;
    text-overflow: ellipsis;
    text-align: right;
  }
}