.deck_val {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  align-items: center;

  .no {
    color: rgba(200, 230, 240, 0.71);
    flex-grow: 0;
    margin-right: 30px;
    background-color: rgb(30, 136, 236);
    border-radius: 2px;
    font-weight: normal;
    padding: 4px;
  }

  .index {
    flex-grow: 1;
    flex-shrink: 1;
    margin-right: 10px;
    font-weight: normal;
    text-overflow: ellipsis;
    text-align: right;
  }

  .order_no {
    flex-grow: 2;
    flex-shrink: 1;
    margin-right: 5px;
    font-weight: normal;
    text-overflow: ellipsis;
    text-align: right;
  }
}